body {
	background: #660000 center top fixed;
	size: cover;
	text-align: center;
	font-color: #FFF;
}


header {
	color: #6CC;
	font: 26px ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	padding: 16px 0 7px 0;
}
header p {
	color: #6CC;
	font: 18px ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	margin: 0 auto;
}


.portrait {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 125px;
	height: 125px;
}


.main {
	/*border-top: 2px solid #000;
	border-bottom: 2px solid #000;*/
	color: #FFF;
	margin-left: -10px;
	margin-right: -10px;
	position: relative;
}
.main h1, h2, h3 , h4, h5, h6 {
	font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}
.main p {
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 auto;
	max-width: 850px;
	text-align: center;
}
.main a {
	color: #6CC;
	text-decoration: none;
}
.main a:hover {
	color: #F99;
	text-decoration: none;
}
.main a:visited {
	color: #F66;
	text-decoration: none;
}
.frame img {
	box-shadow: 0 0 10px #000 inset;
	-moz-box-shadow: 0 0 10px #000 inset;
	-webkit-box-shadow: 0 0 10px #000 inset;
	/*border: 1px solid #C66;*/
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline;
	margin: 0 3px;
	padding: 5px;
	width: 108px;
}

.social img {
	box-shadow: 0 0 8px #000 inset;
	-moz-box-shadow: 0 0 8px #000 inset;
	-webkit-box-shadow: 0 0 8px #000 inset;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*border: 1px solid #000;*/
	display: inline;
	margin: 8px -8px;
	padding: -8px;
	max-width: 75px;
}
.social img:hover {
	box-shadow: 0 0 15px #F00 inset;
	-moz-box-shadow: 0 0 15px #F00 inset;
	-webkit-box-shadow: 0 0 15px #F00 inset;
}


.gallerydoor img {
	box-shadow: 0 0 18px #000 inset;
	-moz-box-shadow: 0 0 18px #000 inset;
	-webkit-box-shadow: 0 0 18px #000 inset;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	float: inherit;
	margin: 2px auto;
	padding: 10px;
	width: 60%;
}
.gallery .title {
	color: #CCC;
	font-size: 1.1em;
}
.gallery {
	display: inline-block;
	position: static;
	width: 60%;
	max-width: 720px;
}
.gallery p {
	color: #FFF;
	font: 12px “Courier New”, courier, monospace;
	text-align: center;
}
.gallery img {
	background: #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 5px;
	width: 95%;
}


#contact {
	border: 1px solid #000;
	box-shadow: 0 0 10px #000 inset;
	-moz-box-shadow: 0 0 10px #000 inset;
	-webkit-box-shadow: 0 0 10px #000 inset;
	clear: both;
	display: block;
	margin: auto;
	padding: 20px;
	position: relative;
	text-align: center;
	width: 98%;
	min-width: 400px;
	max-width: 550px;
}
#contact label {
	color: #FFF;
  	padding: 5%;
  	margin: 5%;
}
#contact input#name, input#email, input#human {
	border: 2px solid #333;
	padding: 5px;
  	margin: 0 auto;
}
#contact textarea#message {
	border: 2px solid #333;
	height: 100px;
	width: 90%;
}
#contact input[id="submit"] {
	background: #FFF;
	font: #000 Verdana, Geneva, sans-serif;
	width: 142px;
}
#contact input[type="submit"]:hover, input[type="submit"]:active {
	cursor: pointer;
	background: #003;
	color: #FFF;
}
#contact #req-field-desc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: .6em;
	font-style: italic;
	text-align: center;
}

footer {
	clear: both;
	color: #FFF;
	font: 13px Courier;
	margin: 0 auto;
	max-width: 420px;
	padding: 10px;
	text-align: center;
}
footer a {
	color: #9FF;
}
footer a:hover {
	color: #F00;
}

