body {
    background: #800;
}

header {
	padding: 4px;
}

nav {
	padding-bottom: 10px;
}
nav li {
	/*margin: 0 auto;
	font-size: 12px;*/
}
nav .head li {
	background-color: #000;
	border: 1px solid #FCC;
	display: inline;
	padding: 6px 6px 4px 6px;
	text-decoration: none;
}
nav .head li a {
	color: #FFF;
	font: 1em 'Courier', serif;
	font-variant: small-caps;
	text-decoration: none;
}
nav .head li a:hover {
	color: #F00;
	text-decoration: line-through;
}

nav .gallery {
	margin-left: -35px;
	margin-top: -16px;
}
nav .gallery li {
	background-color: #FFF;
	border: 1px solid #333;
	display: run-in;
	margin: 0 auto;
	padding: 2px 6px;
	width: 150px;
}
nav .gallery li a {
	color: #000;
	font: 1em 'Courier', serif;
	font-variant: small-caps;
	text-decoration: none;
}

.social img {
	margin: 8px 3px;
	max-width: 60px;
}

.main {
	margin: auto;
	width: 85%;
}
.main p, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	margin: 0 auto;
}


.frame img {
	box-shadow: 0 0 8px #000 inset;
	-moz-box-shadow: 0 0 8px #000 inset;
	-webkit-box-shadow: 0 0 8px #000 inset;
	/*border: 1px solid #FFF;*/
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0 3px;
	padding: 5px;
	max-width: 98px;
}

.individual img {
	box-shadow: 0 0 28px #000 inset;
	-moz-box-shadow: 0 0 28px #000 inset;
	-webkit-box-shadow: 0 0 28px #000 inset;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	float: left;
	margin: 2%;
	padding: 10px;
	width: 400px;
}


.gallery {
	float: inherit;
	clear: right;
	margin: 2px 0;
	width: 98%;
	min-width: 260px;
	max-width: 640px;
}

.gallery img {
	box-shadow: 0 0 12px #000 inset;
	-moz-box-shadow: 0 0 12px #000 inset;
	-webkit-box-shadow: 0 0 12px #000 inset;
	border: 1px solid #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	float: right;
	clear: both;
	margin: 2px 1px;
	padding: 8px;
}

.gallery img:hover {
	zoom: none;
}


.frame img {
	box-shadow: 0 0 10px #000 inset;
	-moz-box-shadow: 0 0 10px #000 inset;
	-webkit-box-shadow: 0 0 10px #000 inset;
	/*border: 1px solid #FFF;*/
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	display: inline;
	float: right;
	margin: 1px 1px;
	padding: 5px;
	max-width: 240px;
}
.frame img:hover {
	/*border: 1px solid #666;*/
}


footer {
	/*display: none;*/
}

